@font-face{
  font-family: "SecularOne-Regular";
  src: url("../../fonts/GveretLevinAlefAlefAlef/web/GveretLevinAlefAlefAlef-Regular.ttf")
}

body {
    background-image: url("../images/backgroundImage.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "SecularOne-Regular";
    align-content: center;
    align-items: center;
  }

  .appDiv {
    display: flex;
    margin-top: 10%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .buttonDiv {
    box-shadow: 15px 15px 10px pink;
    backdrop-filter: blur(10px);
  }

  strong {
    font-weight: bold;
    color: #d357c1;
    font-size: large;
  }