/* App.css */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
} */

.countdown-container {
  /* background-color: #7aeb92; */
  place-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 95%;
  /* margin: 3% auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5% auto;
}

/* h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
} */

.countdown-timer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.countdown-unit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-value {
  font-size: 36px;
  font-weight: bold;
  color: #e74c3c; /* Red color */
}

.countdown-label {
  font-size: 16px;
  color: #555;
}
